{% layout none %}
  {% if settings.quick_shop_enabled %}
  
  {% if product.description contains "#tab1" %}
    {% assign tabs = true %}
  {% else %}
    {% assign tabs = false %}
  {% endif %}
<div id="fancybox-product-{{ product.id }}"  class="modal product-{{ product.id }}">
  <div id="product-{{ product.id }}{{ section.id }}{{ block.id }}" class="js-product_section product_section"
      data-product-media-supported="{% if product.media != null %}true{% else %}false{% endif %}"
      data-thumbnails-enabled="{{ settings.display_thumbnails }}"
      data-gallery-arrows-enabled="{{ settings.gallery_arrows }}"
      data-slideshow-speed="{{ settings.slideshow_speed }}"
      data-slideshow-animation="{{ settings.slideshow_transition }}"
      data-thumbnails-position="{{ settings.thumbnail_position }}"
      data-thumbnails-slider-enabled="{{ settings.enable_thumbnail_slider }}"
      data-activate-zoom="{{ settings.activate_zoom }}"
      data-quickshop-gallery>
    <div class="quick-shop">
      <div class="quick-shop__product-gallery">
        {% render 'product-images',
                context: 'modal',
                product: product,
                video_looping: settings.video_looping,
                quickshop: true
        %}
      </div>
      <div class="quick-shop__product-description">
        <h3>{{ product.title }}</h3>
        {% if settings.enable_shopify_product_badges %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
        {% if settings.display_vendor_collection %}
          <p class="vendor">
            <span>{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% assign variant = product.selected_or_first_available_variant %}

        <div class="product__price-container {% if variant.available == false %}product__price-container--sold-out{% endif %}">
          {% if collection_handles contains 'coming-soon' %}
            <p class="product__price">{{ 'collections.general.coming_soon' | t }}</p>
          {% else %}
            <p class="product__price">
              <span content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current-price">
                  {% if variant.price > 0 %}
                    <span class="money">
                      {% render 'price-element', price: variant.price %}
                    </span>
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </span>
              </span>
              <span class="was-price">
                {% if variant.price < variant.compare_at_price and variant.available %}
                  <span class="money">
                    {% render 'price-element', price: variant.compare_at_price %}
                  </span>
                {% endif %}
              </span>
            </p>
            <span class="sold-out-text">
              {% if variant.available == false %}
                &ndash; {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
          {% endif %}
        </div>

        {% unless collection_handles contains 'coming-soon' %}
          {% render 'product-notify-me', product: product %}
        {% endunless %}

        {% if settings.product_description_position == "top" %}
          {% if settings.description_words == "none" %}
            {{ product.description | split: '<!-- split -->' | first }}
          {% else %}
            {% if tabs %}
              {{ product.description | split: '<!-- split -->' | first }}
            {% else %}
              <p>{{ product.description | strip_html | truncatewords: settings.description_words }}</p>
            {% endif %}
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }}">{{ 'collections.general.view_product_details_html' | t }}</a>
          </p>
          <hr />
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          {% render 'product-form',
                  product: product,
                  show_payment_button_quickshop: settings.show_payment_button
          %}
        {% endunless %}

        {% if settings.product_description_position == "bottom" %}
          <hr />
          {% if settings.description_words == "none" %}
            {{ product.description | split: '<!-- split -->' | first }}
          {% else %}
            {% if tabs %}
              {{ product.description | split: '<!-- split -->' | first }}
            {% else %}
              <p>{{ product.description | strip_html | truncatewords: settings.description_words }}</p>
            {% endif %}
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }}">{{ 'collections.general.view_product_details_html' | t }}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
